<div class="slds-form-element search-field">
	<label class="slds-form-element__label">Search</label>
	<div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--left">
		<svg aria-hidden="true" class="slds-input__icon slds-icon-text-default">
			<use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
		</svg>
		<input ng-model="searchAlbum.name" class="slds-input" type="text" placeholder="Start type here..." />
	</div>
</div>

<div ng-controller="albumsController as vm" class="slds-wrap slds-grid">
	<div ng-repeat="album in vm.album | filter:searchAlbum" class="album-item slds-card slds-p-horizontal--small slds-medium-size--1-of-1 slds-size--1-of-1 slds-large-size--4-of-12">
		<a ui-sref="album({id: album._id})" class="slds-text-link--reset">
			<div class="slds-card__header slds-grid">
				<header class="slds-media slds-media--center slds-has-flexi-truncate">
					<div class="slds-media__body slds-truncate">
						<h2>						
						{{ album.name }}							
						</h2>
						<small>
							{{ album.artist_name }}
						</small>
					</div>
				</header>
			</div>
			<div class="slds-card__body slds-text-align--center">
				<img ng-if="album.image" ng-src="{{album.image}}" alt="">
				<img ng-if="!album.image" ng-src="http://fakeimg.pl/200x200/?text=image" alt="">
			</div>
		</a>
		<div class="slds-card__footer">
			<a class="slds-button slds-button--brand" ui-sref="edit_album({id: album._id})">edit</a>
			<button type="button" ng-click="vm.remove($index, album._id)" class="slds-button slds-button--destructive">delete</button>
		</div>
	</div>
	<div class="slds-wrap">
		<a class="slds-button slds-button--neutral" ui-sref="new_album">Add new</a>
	</div>
	
</div> 

