<div class="full-width" ng-controller="adminController as vm">

{{vm.data}}
  
  <form class="slds-form--inline">
    <div class="slds-form-element">
      <label class="slds-form-element__label" for="name">Name</label>
      <div class="slds-form-element__control">
        <input ng-model="vm.name" id="name" name="name" class="slds-input" type="text" />
      </div>
    </div>
    <div class="slds-form-element">
      <label class="slds-form-element__label" for="email">Password</label>
      <div class="slds-form-element__control">
        <input ng-model="vm.password" id="password" name="password" class="slds-input" type="password" />
      </div>
    </div>
    <div class="slds-form-element">
      <button class="slds-button slds-button--brand" ng-click="vm.login()" type="button">Send</button>
      <button class="slds-button slds-button--destructive" ng-click="vm.logout()" type="button">logout</button>
    </div>
  </form>

</div>