<div ng-controller="addArtistController as vm">

	<form name="addArtistForm">

	<div class="slds-form-element is-required"  ng-class="{'slds-has-error' : vm.allow === false, 'slds-success' : vm.allow === true}" >
		<label class="slds-form-element__label">
		<abbr class="slds-required" title="required">*</abbr> Name</label>
		<div class="slds-form-element__control">
			<input name="name" class="slds-input" type="text" ng-model="vm.name" ng-change="vm.checkInput()" ng-required="true" />
		</div>
			<div ng-show="vm.loading" class="input-spinner slds-spinner_container">
				<div class="slds-spinner slds-spinner--small" role="alert">
					<span class="slds-assistive-text">Loading</span>
					<div class="slds-spinner__dot-a"></div>
					<div class="slds-spinner__dot-b"></div>
				</div>
			</div>
		<div ng-show="vm.allow === false"  id="error-message" class="slds-form-element__help">This name already exists</div>
		<div ng-show="vm.allow === true"  id="success-message" class="slds-form-element__help">This name allowed</div>
	</div>


		
		<div class="slds-form-element">
		  <label class="slds-form-element__label">Genre:</label>
		  <div class="slds-form-element__control">
		    <input class="slds-input" ng-required="true" type="text" name="genre" ng-model="vm.genre">
		  </div>
		</div>

		<div class="slds-form-element">
		  <label class="slds-form-element__label">Image:</label>
		  <div class="slds-form-element__control">
		    <input class="slds-input" type="text" name="image" ng-model="vm.image">
		  </div>
		</div>
	</form>

	<button class="slds-button slds-button--brand" ng-disabled="addArtistForm.$invalid || !vm.allow || vm.loading" ng-click="vm.add()" type="button">Add</button>
	  
</div>
