html
	height: 100%

body
	min-height: 100%

form, .slds-form-element
	display: block
	max-width: 400px
	margin: 15px 0!important

h1
	font-size: 24px

h2
	font-size: 20px

p
	margin-bottom: 10px

img
	max-width: 100%
	height: auto

.album-item
	img
		width: 250px
		height:  auto

.error-message
	color: red;
	margin-bottom: 20px

.block
	display: block

.main-content
	@media (max-width: 1024px)
		width: 100%!important

.full-width form
	max-width: 100%

