<div ng-controller="editArtistController as vm">
	
	<h1>Edit page</h1>

	<div class="slds-form-element">
	  <label class="slds-form-element__label" for="name">Artist name:</label>
	  <div class="slds-form-element__control">
	    <input ng-model="vm.artist.name" id="name" class="slds-input" type="text" />
	  </div>
	</div>

	<div class="slds-form-element">
	  <label class="slds-form-element__label" for="genre">Genre:</label>
	  <div class="slds-form-element__control">
	    <input ng-model="vm.artist.genre" id="genre" class="slds-input" type="text" />
	  </div>
	</div>

	<div class="slds-form-element">
	  <label class="slds-form-element__label" for="image">Image:</label>
	  <div class="slds-form-element__control">
	    <input ng-model="vm.artist.image" id="image" class="slds-input" type="text" />
	  </div>
	</div>

	<button ng-click="vm.edit()" type="button" class="slds-button slds-button--neutral">Edit</button>

</div>