
<div ng-controller="detailAlbumController as vm">

	<h2>Album details: </h2>  


	<p>Album name: {{ vm.album.name }}</p>

	<p>Artist: {{ vm.album.artist_name }}</p>

	<p>Genre: {{ vm.genre }}</p>

	<img ng-src="{{ vm.album.image }}" alt="">
	
	<h2>Songs:</h2>

	<ul ng-repeat="song in vm.album.songs">
		<li>{{ song.name }}</li>
	</ul>

</div>
