
<div ng-controller="detailArtistController as vm">

	<h2>Artist details: </h2>  


	<p>{{ vm.artist.name }}</p>

	<p>{{ vm.artist.genre }}</p>

	
	<h2>ALbums:</h2>

	<p ng-if="!vm.relatedAlbums.length">no albums yet</p>

	<ul ng-repeat="album in vm.relatedAlbums">
		<li><a ui-sref="album({id: album._id})">{{album.name}}</li>
	</ul>

</div>
