<div ng-controller="addAlbumController as vm">

<h1>Add new album</h1>

<form id="addAlbumForm" name="addAlbumForm">
	
	<div class="slds-form-element">
		<label class="slds-form-element__label">The album name</label>
		<div class="slds-form-element__control">
			<input class="slds-input" ng-required="true" type="text" name="name" ng-model="vm.album.name">
		</div>
	</div>
	
	<div class="slds-form-element">
		<label class="slds-form-element__label" for="select">Select Artist</label>
		<div class="slds-form-element__control">
			<div class="slds-select_container">
				<select ng-required="true" id="select" class="slds-select" ng-model="vm.selectedArtist" ng-options="item as item.name for item in vm.artist"></select>
			</div> 
		</div>
	</div>

	<div class="slds-form-element">
		<label class="slds-form-element__label">The album image</label>
		<div class="slds-form-element__control">
			<input class="slds-input" type="text" name="name" ng-model="vm.album.image">
		</div>
	</div>

	<h2 ng-show="vm.songs.length > 0">Song list</h2>
	<div ng-repeat="song in vm.songs" class="slds-form-element">
	  <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
		<input ng-required="true" ng-model="song.name" class="slds-input" type="text" />
		<button ng-click="vm.remove($index)" class="slds-input__icon slds-input__icon--right slds-button slds-button--icon">
		  <svg aria-hidden="true" class="slds-button__icon">
			<use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#clear"></use>
		  </svg>
		</button>
	  </div>
	</div>

	<div>
		<button type="button" ng-click="vm.addSong()" class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
		  <span class="slds-text-not-selected">
			<svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
			  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
			</svg>Add song</span>
		</button>
	</div>

</form>
	
<button class="slds-button slds-button--brand" ng-disabled="addAlbumForm.$invalid" ng-click="vm.addAlbum()" type="button">Add new album</button>


</div>
