
<div class="slds-form-element search-field">
  <label class="slds-form-element__label">Search</label>
  <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--left">
    <svg aria-hidden="true" class="slds-input__icon slds-icon-text-default">
      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
    </svg>
    <input ng-model="searchArtist" class="slds-input" type="text" placeholder="Start type here..." />
  </div>
</div>

<div ng-controller="artistsController as vm" class="slds-wrap slds-grid">

	<div ng-repeat="item in vm.artist | filter:searchArtist" class="slds-card slds-p-horizontal--small slds-medium-size--1-of-1 slds-size--1-of-1 slds-large-size--4-of-12">
		<a ui-sref="artist({id: item._id})" class="slds-text-link--reset">
			<div class="slds-card__header slds-grid">
				<header class="slds-media slds-media--center slds-has-flexi-truncate">
					<div class="slds-media__body slds-truncate">
						<h2><span class="slds-text-heading--small" ng-bind="item.name"></span></h2>
						<small ng-bind="item.genre"></small>
					</div>
				</header>
			</div>
			<div class="slds-card__body slds-text-align--center">
				<img ng-if="item.image" ng-src="{{item.image}}" alt="">
				<img ng-if="!item.image" ng-src="http://fakeimg.pl/200x200/?text=image" alt="">
			</div>
		</a>
		<div class="slds-card__footer">
			<a class="slds-button slds-button--brand" ui-sref="edit_artist({id: item._id})">edit</a>
			<button type="button" ng-click="vm.remove($index, item._id)" class="slds-button slds-button--destructive">delete</button>
		</div>
	</div>
	<div class="slds-wrap">
		<a  class="slds-button slds-button--neutral" ui-sref="new_artist">Add new</a>
	</div>
	
</div> 

